<% provide :title, "Stats" %>
<article>
  <header class="page-header">
    <h1>
      Giới thiệu về Đại học Kyoto
      <%= "(#{params[:y]}年度)" if params[:y] %>
    </h1>
  </header>
  <% if logged_in? %>
    <aside class="form-inline">
      <%= select_tag :y,
        options_for_select(Live.years, selected: params[:y]),
        class: "form-control",
        onchange: "location.href='#{request.path}?y=' + $(this).val();" %>
      <%= label_tag :y, "年度の情報を見る" %>
    </aside>
  <% end %>

  <p class="lead">
    <% if params[:y] %>
      <mark><%= params[:y] %></mark>
      年度の京大アンプラグドのデータです
    <% else %>
      過去1年間の京大アンプラグドのデータを紹介します
    <% end %>
    <br>
    この1年間に
    <% members_count = @playings.group(:user_id).count %>
    <mark><%= members_count.size %></mark>
    人のメンバーで
    <mark><%= @songs.count %></mark>
    曲を演奏しました
  </p>

  <div class="row">
    <%= render "instruments", title: "演奏された楽器",
      instruments: Playing.resolve_insts(@playings.count_insts) %>
    <%= render "artists", title: "カバーしたアーティスト",
      artists: @songs.where.not(artist: [nil, '']).group(:artist)
        .count.sort { |(_, c1), (_, c2)| c2 <=> c1 } %>
    <%= render "formations", title: "バンドの構成人数",
      formations: Playing.count_formation(@playings.count_members_per_song),
      total: @songs.count %>
  </div>
</article>
