<% provide :title, "Edit user" %>
<header class="page-header">
  <h2>Update your profile</h2>
</header>
<%= form_for(@user, html: {class: "form-horizontal"}) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form-group">
    <%= f.label :first_name, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :first_name, class: "form-control", placeholder: "Phúc" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :last_name, class: "form-control", placeholder: "Đặng Xuân" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :furigana, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :furigana, class: "form-control", placeholder: "furigana" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nickname, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :nickname, class: "form-control", placeholder: "nickname" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.email_field :email, class: "form-control", placeholder: "example@livelog.com" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :joined, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.select :joined, (1995..nendo).to_a.reverse, {}, {class: "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
