<% provide :title, @user.full_name(logged_in?) %>
<% total = @user.songs.count %>
<header class="page-header">
  <div class="float-right">
    <% if logged_in? %>
        <% if current_user.admin_or_elder? && !@user.songs.exists? %>
          <%= link_to glyphicon(:trash) + 'Delete', @user, method: :delete, class: 'btn btn-danger' %>
        <% elsif current_user.admin? && current_user != @user %>
          <% if @user.admin? %>
            <%= link_to 'Remove role admin', user_admin_path(@user), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
          <% else %>
            <%= link_to 'Set role admin', user_admin_path(@user), method: :post, data: {confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
          <% end %>
        <% end %>
    <% end %>
  </div>
  <h2><%= @user.full_name(logged_in?) %>
    <% if logged_in? %>
      <small><%= @user.public? ? glyphicon(:globe) : glyphicon(:lock) %></small>
    <% end %>
  </h2>
</header>
<div class="row">
  <%= render "panel", title: "出演数・楽器" do %>
    <div class="panel-body text-center lead">
      <mark><%= total %></mark> 曲
    </div>
    <ul class="list-group lead">
      <% Playing.resolve_insts(@user.playings.count_insts).each do |inst, count| %>
        <% unless inst.blank? %>
          <li class="list-group-item">
            <span class="badge badge-primary"><%= count %></span>
            <%= inst %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
  <%= render "panel", title: "アーティスト" do %>
    <ul class="list-group">
      <% @user.songs.unscope(:order).group(:artist).count.sort { |(k1, v1), (k2, v2)| v2 <=> v1 }.take(20).each do |artist, count| %>
        <% if count >= 2 && (count.to_f / total) >= 0.04 && !artist.blank? %>
          <li class="list-group-item">
            <span class="badge badge-primary"><%= count %></span>
            <%= artist %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
  <%= render "panel", title: "共演者" do %>
    <div class="panel-body">
      <mark><%= @playings.group(:user).count.size - 1 %></mark>人
      <ul class="list-group">
        <% @playings.group(:user).count.sort{ |(k1, v1), (k2, v2)| v2 <=> v1 }.take(20).each do |user, count| %>
          <% if user != @user && count >= 2 && ((count.to_f / total) >= 0.2 || count >= 10) %>
            <li class="list-group-item">
              <span class="badge badge-primary"><%= count %></span>
              <%= logged_in? || user.public? ? link_to(user.full_name(logged_in?), user) : user.handle %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render "panel", title: "構成人数" do %>
    <ul class="list-group">
      <%= sum = 0 %>
      <% Playing.count_formation(@playings.count_members_per_song).each do |formation, count| %>
        <li class="list-group-item">
          <span class="badge badge-primary"><%= count %></span>
          <%= "#{formation}人" %>
        </li>
        <% sum += formation * count %>
      <% end %>
    </ul>
    <div class="panel-body">
      平均<%= (sum.to_f / total).round(2) %>人
    </div>
  <% end %>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <section class="panel panel-default">
      <header class="panel-heading">
        <h2 class="panel-title">自己紹介</h2>
      </header>
      <div class="panel-body">
        <dl>
          <% if logged_in? && current_user.admin? && !@user.email.blank? %>
            <dt>Email</dt>
            <dd><%= mail_to @user.email %></dd>
          <% end %>
          <% unless @user.url.blank? %>
            <dt>URL</dt>
            <dd><%= link_to @user.url, @user.url, target: "_blank" %></dd>
          <% end %>
        </dl>
        <p><%= @user.intro %></p>
      </div>
    </section>
  </div>
</div>

<%= render "songs/songs_table", songs: @user.songs, show_live: true %>
