<tr>
  <% if show_live %>
    <td><%= link_to song.live.title, song.live %></td>
  <% end %>
  <td><%= song.time_order %></td>
  <td><%= can_watch?(song) ? link_to(song.name, song) : song.name %></td>
  <td><%= song.artist %></td>
  <td>
    <ul class="list-inline">
      <%= render song.playings.order_by_inst %>
    </ul>
  </td>
  <td><%= render "songs/link_to_edit", song: song %></td>
</tr>
