<% provide :title, @song.name %>
<article>
  <header class="page-header">
    <h2>
      <%= "#{@song.name} / #{@song.artist}" %>
      <small>
        <%= link_to @song.live.title, @song.live %>
        <%= '-' unless @song.order.blank? %>
        <%= @song.time_str unless @song.time.blank? %>
        <%= @song.order %>
        <%= render "link_to_edit", song: @song %>
      </small><br>
    </h2>
    <% if @song.youtube_id.blank? %>
      <ul id="player-list" class="list-inline">
        <%= render @song.playings %>
      </ul>
    <% else %>
      <div class="row">
        <div class="col-sm-9">
          <div class="embed-responsive embed-responsive-16by9">
            <%= @song.youtube_embed %>
          </div>
        </div>
        <div class="col-sm-3">
          <ul id="player-list" class="list-unstyled">
            <%= render @song.playings %>
          </ul>
        </div>
      </div>
    <% end %>
    <nav>
      <ul class="pager">
        <li class="previous <%= @song.previous.nil? ? 'disabled' : '' %>">
          <%= link_to @song.previous do %>
            <span>&larr; Previous</span>
          <% end %>
        </li>
        <li class="next <%= @song.next.nil? ? 'disabled' : '' %>">
          <%= link_to @song.next do %>
            <span>Next &rarr;</span>
          <% end %>
        </li>
      </ul>
    </nav>
  </header>
</article>
