<% provide :title, @live.title %>
<article>
  <header class="page-header">
    <h2>
      <%= @live.name %>
      <small><%= "#{I18n.l(@live.date)} @#{@live.place}" %></small>
    </h2>
  </header>
  <% if @songs.count > 20 %>
    <%= render "songs/songs_table", songs: @songs, show_live: false %>
  <% else %>
    <ol id="set-list">
      <% @songs.each do |song| %>
        <li>
          <%= can_watch?(song) ? link_to(song.name, song) : song.name %>
          <%= "/ #{song.artist}" %>
          <%= render "songs/link_to_edit", song: song %>
          <ul class="list-inline">
            <%= render song.playings.order_by_inst %>
          </ul>
        </li>
      <% end %>
    </ol>
  <% end %>
  <% if logged_in? && current_user.admin_or_elder? %>
    <footer>
      <ul class="list-inline">
        <li><%= link_to glyphicon("plus-sign") + "Add song", new_song_path(live_id: @live.id),
          class: "btn btn-default", role: "button" %></li>
        <li><%= link_to glyphicon(:edit) + "Edit", edit_life_path(@live), class: "btn btn-primary", role: "button" %></li>
        <% if @songs.empty? %>
          <li><%= link_to glyphicon(:trash) + "Delete", @live, method: :delete,
            class: "btn btn-danger", role: "button" %></li>
        <% end %>
      </ul>
    </footer>
  <% end %>
</article>
