<% provide :title, @live.title %>
<article>
  <header class="page-header">
    <% if logged_in? && current_user.admin_or_elder? %>
      <ul class="float-right list-inline">
        <li><%= link_to glyphicon("plus-circle") + "Add song",
          new_song_path(live_id: @live.id), class: "btn btn-primary",
          role: "button" %></li>
        <li><%= link_to glyphicon(:edit) + "Edit", edit_life_path(@live),
          class: "btn btn-warning", role: "button" %></li>
        <% if @live.songs.empty? %>
          <li><%= link_to glyphicon(:trash) + "Delete", @live,
            method: :delete, class: "btn btn-danger", role: "button" %></li>
        <% end %>
      </ul>
    <% end %>
    <h2>
      <%= @live.name %>
      <small><%= "#{I18n.l(@live.date)} @#{@live.place}" %></small>
    </h2>
  </header>
  <% if @live.songs.count > 20 %>
    <%= render "songs/songs_table", songs: @songs, show_live: false %>
  <% else %>
    <ol id="set-list">
      <% @live.songs.includes(playings: :user).played_order.each do |song| %>
        <li>
          <%= can_watch?(song) ? link_to(song.name, song) : song.name %>
          <%= "/ #{song.artist}" %>
          <%= render "songs/link_to_edit", song: song %>
          <ul class="list-inline">
            <%= render sort_by_inst(song.playings) %>
          </ul>
        </li>
      <% end %>
    </ol>
  <% end %>
</article>
