<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= render "shared/page-level-ads" if Rails.env.production? && !logged_in? %>
    <%= render "layouts/shim" %>
    <%= favicon_link_tag "favicon.ico" %>
  </head>

  <body>
    <%= render "shared/analyticstracking" if Rails.env.production? %>
    <%= render "layouts/header" %>
    <div id="main" class="container">
      <%= render "layouts/flash" %>
      <%= yield %>
      <aside><%= render "shared/content-ads" if Rails.env.production? && !logged_in? %></aside>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
